body {
  background: rgb(136, 108, 108);
}

.nav ul {
  display: flex;
  justify-content: space-around;
}

.tableau {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 250px;
}
